LAZARUS_BASE_URL=http://127.0.0.1:8000
OPENCLAW_SHARED_TOKEN=
IMESSAGE_LOCAL=true
SPECTRUM_BASE_URL=http://127.0.0.1:8765
SPECTRUM_SEND_PATH=/messages
SPECTRUM_RECIPIENT=
SPECTRUM_LOCAL_BRIDGE_PORT=8765
